.claude/settings.local.json
__pycache__/system_prompt.cpython-313.pyc
__pycache__/system_prompt.cpython-314.pyc
__pycache__/utils.cpython-314.pyc
WebAI.iml
.idea/.gitignore
.idea/compiler.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/project.xml
javaBackend/.gitignore
javaBackend/java-backened.iml
javaBackend/.idea/.gitignore
javaBackend/.idea/copilot.data.migration.ask2agent.xml
javaBackend/.idea/misc.xml
javaBackend/.idea/modules.xml
javaBackend/.idea/vcs.xml
python-module/python-module.iml
python-module/__pycache__/system_prompt.cpython-314.pyc
python-module/__pycache__/utils.cpython-314.pyc
python_backend/.env
python_backend/__pycache__/env_client_config.cpython-314.pyc
python_backend/__pycache__/schemas.cpython-314.pyc
python_backend/adapters/__pycache__/gemini_adapter.cpython-314.pyc
python_backend/service/__pycache__/gemini_service.cpython-314.pyc
.gitignore
.vscode/settings.json
output_cache/production/WebAI/.gitignore
output_cache/production/WebAI/java-backened.iml
output_cache/production/WebAI/.idea/.gitignore
output_cache/production/WebAI/.idea/copilot.data.migration.ask2agent.xml
output_cache/production/WebAI/.idea/misc.xml
output_cache/production/WebAI/.idea/modules.xml
output_cache/production/WebAI/.idea/vcs.xml
output_cache/production/WebAI/src/ChatEndpointTest.class
*.class
example-code/
.env
*.iml
.claude/
__pychache__/