.claude/settings.local.json
__pycache__/system_prompt.cpython-313.pyc
__pycache__/system_prompt.cpython-314.pyc
__pycache__/utils.cpython-314.pyc
WebAI.iml
.idea/.gitignore
.idea/compiler.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/project.xml
java-backened/.gitignore
java-backened/java-backened.iml
java-backened/.idea/.gitignore
java-backened/.idea/copilot.data.migration.ask2agent.xml
java-backened/.idea/misc.xml
java-backened/.idea/modules.xml
java-backened/.idea/vcs.xml
python-module/python-module.iml
python-module/__pycache__/system_prompt.cpython-314.pyc
python-module/__pycache__/utils.cpython-314.pyc
python-backened/.env
